services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
      target: production
    restart: always
    environment:
      - NODE_ENV=production
      - PORT=5000
      - DB_HOST=mariadb
      - DB_PORT=3306
      - DB_USER_FILE=/run/secrets/db_user
      - DB_PASSWORD_FILE=/run/secrets/db_password
      - DB_NAME_FILE=/run/secrets/db_name
      - JWT_SECRET_FILE=/run/secrets/jwt_secret
      - AI_API_KEY_FILE=/run/secrets/api_key
    ports:
      - "5000:5000"

  app:
    build:
      context: ./app
      dockerfile: Dockerfile
      target: production
    restart: always
    environment:
      - VITE_API_URL=http://votre-domaine.com/api 
    ports:
      - "80:3000"

  mariadb:
    restart: always